<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Creation Completed - Privacy Guardians</title>

    <!-- Link to your CSS file (replace with the actual path) -->
    <link rel="stylesheet" type="text/css" href="../static/userCreationComplete.css">

</head>
<body>
    <div class="completion-container">
        <h1>User Creation Completed</h1>
        <p>Your account has been successfully created.</p>
        <p>You can now log in using your credentials.</p>
        <a href="{{ url_for('LoginPage') }}">Login</a>
    </div>
</body>
</html>
